.toggler{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    height: 60px;
    width: 60px;
    opacity: 0;
}

.hamburger{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 65px;
    height: 100%;
    padding: 1rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hamburger line*/

.hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgb(33,65,112);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* top and bot lines*/

.hamburger > div::before, .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: rgb(33,65,112);
}

/* moves bot line down*/

.hamburger > div::after{
    top: 10px;
}

/* toggler animate */

.toggler:checked + .hamburger > div{
    transform: rotate(135deg);
    background-color: white;

}

/* turn lines into X*/

.toggler:checked + .hamburger > div::before, 
.toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(90deg);
    background-color: white;

}

/* rotate on hover when checked*/

.toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
    background-color: white;

}
 


@media screen and (min-width: 675px){
    .hide-on-media, .toggler{
        display: none;
        cursor: none;
    }
}